@media (prefers-color-scheme: dark) {
    html { background-color: #333333; color: #fbfbfb; }
    a { color: #ca8465; }
  }
  @media (prefers-color-scheme: white) {
    html { background-color: #fbfbfb; color: #fbfbfb; }
    a { color: #ca8465; }
  }
  body {
    line-height: 1.6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    text-align: left;
    margin: 1rem auto;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>