@media (prefers-color-scheme: dark) {
    html { background-color: #121212; color: #fbfbfb; }
    a { color: #ca8465; }
    b { color: white; }
    .quote { opacity: 75%; }
    .italic_enfasy { opacity: 75%; }
    body { font-weight: 350; }
    hr {color:antiquewhite}

  }
  @media (prefers-color-scheme: light) {
    html { background-color: #fbfbfb; color: #000; }
    a { color: #ca8465; }
    .quote { opacity: 50%; }
    .italic_enfasy { opacity: 75%; color: #333; }
    body { font-weight: 500; }
    hr {color: #000}
  }
  
  body {
    line-height: 1.5;
    font-family: system-ui, -apple-system, Roboto, Helvetica, Arial, sans-serif;
    font-size: 100%;
    text-align: left;
    margin: 1rem auto;
    min-height: 90vh;
    align-items: left;
  }

  footer{
    margin: 1rem;
  }

  img.u-photo { 
    height: 200px;
    width: 200px;
    border-radius: 50%; 
  }


  ul { padding: 0; list-style: none; }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .h-card{
    margin-left: 5em;
  }
  .icon{
    margin-left: 70px;
  }

  .p-note{
    margin-right: 2em;
  }

  hr {
    border-bottom : none;
  }