@media only screen and (max-width: 1920px) {
    .content{
        padding-left: 12rem;
        padding-right: 12rem;
        margin-top: 4rem;
        font-size: 1.2rem;
    }
    .title{
        font-weight: bold;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 2rem;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .content{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-top: 2rem;
    }
    .title{
        
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        font-size: 2rem;
    }
 }

.title{
    font-weight: bold;
    align-self: center;
}

.top_image{
    max-width: 90%;
    height: auto;
    align-self: center;
}
.quote{
    font-weight: bold;
    font-style: italic;
    align-self: center;
    opacity: 50%;
    font-size: 1.5rem;
}

.feedback{
    justify-content: right;
}